*.dko
*~
_build
lambdapi.native
libraries/*.tar.gz
libraries/*.zip
libraries/plein_de_dks
libraries/dklib
libraries/focalide
libraries/holide
libraries/iprover
libraries/matita
libraries/verine
libraries/zenon/zenon.tar
