*.dko
*~
*.swp
_build
lambdapi.native
lambdapi.docdir
libraries/*.tar.gz
libraries/*.tar
libraries/*.zip
libraries/plein_de_dks
libraries/dklib
libraries/focalide
libraries/holide
libraries/iprover
libraries/matita
libraries/verine
ignored
META
