*.dko
*~
_build
lambdapi.native
lambdapi.docdir
libraries/*.tar.gz
libraries/*.zip
libraries/dklib
libraries/focalide
libraries/holide
libraries/iprover
libraries/matita
libraries/verine
libraries/zenon/zenon.tar
