.hname{
    color : #F08080;
}

.htype {
    color : #FFFFF0;
}

.numGoal{
    color : #90EE90;
}

.goal {
    color : #FFEFD5;
}

.sep, hr {
    color : #DAA520;
}

.pp_goals {

}

.hypothesis {
    
}