body {
    font-size:medium;
}

.hname{
    color : var(--vscode-editorLineNumber-foreground);
}

.htype {
    color : var(--vscode-editor-foreground);
}

.numGoal{
    color : var(--vscode-editorLineNumber-foreground);
}

.goal {
    color: var(--vscode-editor-foreground);
}

.sep, hr {
    color : var(--vscode-editorRuler-foreground);
}