on:
  pull_request:
    types: [opened, synchronize, reopened]
  push:
    paths:
      - '.github/workflows/main.yml'
      - 'lambdapi.opam'
      - 'Makefile'
      - 'dune-project'
      - '**/dune'
      - '**.ml'
      - '**.mli'
      - '**.mll'
      - '**.mly'
      - '**.dk'
      - '**.lp'
      - 'tests/lambdapi.pkg'
      - '**/*.sh'
  workflow_dispatch:

jobs:
  test_full:
    strategy:
      fail-fast: false
      matrix:
        ocaml-version: [5.4.0]
    runs-on: ubuntu-latest
    steps:
      - name: checking out lambdapi repo
        uses: actions/checkout@v6
      # - name: recovering cached opam files
      #   uses: actions/cache@v4
      #   with:
      #     path: ~/.opam
      #     key: ${{ runner.os }}-ocaml-${{ matrix.ocaml-version }}
      - name: make sanity_check
        run: make sanity_check
      - name: setting up opam
        uses: ocaml/setup-ocaml@v3
        with:
          ocaml-compiler: ${{ matrix.ocaml-version }}
      - name: install dependencies
        run: |
          #opam update
          #opam upgrade
          opam pin add -n -k path lambdapi .
          opam install --deps-only -d -t lambdapi
          #why3 config detect
      - name: build
        run: |
          eval $(opam env)
          dune build
      - name: make test
        run: |
          eval $(opam env)
          make test
      - name: make test_load
        run: |
          eval $(opam env)
          make test_load
      - name: make test_export_dk
        run: |
          eval $(opam env)
          make test_export_dk
      - name: make test_export_lp
        run: |
          eval $(opam env)
          make test_export_lp
      - name: make test_export_raw_dk
        run: |
          eval $(opam env)
          make test_export_raw_dk
      - name: make test_libs
        run: |
          eval $(opam env)
          make test_libs
